<div ng-controller="topicListCtrl as topicList">
  <div ng-repeat="topic in topicList.topics">
    <i class="fa fa-chevron-up" ng-click="topicList.upvote(topic.id)"></i> {{topic.votes}}
    <i class="fa fa-chevron-down" ng-click="topicList.downvote(topic.id)"></i> |
    <strong> {{topic.title}}</strong> posted by <em>{{topic.author}}</em> |
    <span>
        <span ng-click="topicList.goToComments(topic.cohort, topic.id)">Comments</span>
          <span ng-hide="!topic.comments">
          ({{topic.comments.length}} comments)
          </span>
    </span>
  </div>
</div>
